%div{ class: "comment #{'comment_admin' if User.find_by_email(comment.email)}"}
  .comment_name= comment.name
  .comment_body= comment.body
  .comment_details
    by 
    %strong= comment.name
    on 
    =comment.created_at.strftime("%b %d, %Y")
