.row
  #carousel.carousel.slide.span9
    .carousel-inner
      .active.item
        = link_to (image_tag("nike.jpg", size: "700x319")), '/posts/4'
        .carousel-caption
          %h4=link_to "Review: Nike+ Fuelband", "/posts/4"
          %p{style:"color: white; font-size: 11px"} The Nike + Fuelband allows you to live life as a sport as you recieve "fuelpoints" for the activity that you do throughout the day. Run, walk, play ball, and live life as you keep track of your activity in a new and innovative way!
      .item
        = link_to (image_tag("reviews_promo.jpg", size: "700x319")), '/reviews'
        .carousel-caption
          %h4=link_to "Product Reviews", "/reviews"
          %p{style:"color: white; font-size: 11px"} Read reviews for all different types of athletic and running shoes, running watches, and other running accessories!
      .item store
      .item mailing list
    = link_to "‹", "#carousel", :class => "carousel-control left", "data-slide" => "prev"
    = link_to "›", "#carousel", :class => "carousel-control right", "data-slide" => "next"

.row
  #recent_posts.span4{style:"margin-left: 0"}
    %ul
      %li Foo
      %li Bar
      %li Baz
  #about.span5.last      
    %h2 About
    %p
      About .asdf asdfa sdf asdf as dfa sdf adf asd fas dfas df asdf 