.span12
  .row
    #carousel
      carousel
      %ul 
        %li featured post
        %li store
        %li reviews promo
        %li mailing list signup

  .row
    #recent_posts.span4{style:"margin-left:0"}
      %ul
        %li Foo
        %li Bar
        %li Baz
    #about.span8      
      %h2 About
      %p
        About .asdf asdfa sdf asdf as dfa sdf adf asd fas dfas df asdf 