#why_opt_in
	.span9
		%h3#whyopt_header Why Opt In to Our Mailing List?
	.span9{style:"margin-top: 10px"}
		%p#whyopt_body The Keep Running Free's weekly newsletter is a free source of information that features a list of newly posted articles, exclusive tips, and recommendations for running products you may find useful.
		%p#whyopt_body{style:"font-weight: bold"} What do you get if you subscribe to our mailing list?
		%ul#whyopt_body
			%li Receive bi-weekly emails with links to newly published content that you might have missed
			%li Receive weekly running tips not found on the Keep Running Free website
			%li Find links to external articles and websites that you may find interesting and useful
			%li Receive links and recommendations for the newest running apparel and accessories
			%li Read quotes by and be inspired by successful and remarkable runners
			%li Recieve updates to the KRF Store
			%li Participate in occasional site-wide contests
		%p#whyopt_body Privacy notice: Email addresses and other personal information submitted is used only for the purpose of sending you a weekly newsletter. We respect your privacy and your information will not be disclosed or distributed to any third party service.
		%p#whyopt_body I encourage you to sign up for a week and give it a try! You may opt-out at any time.