= render partial: 'carousel'

- @posts[1..-1].each do |post|
  - partial_file = @current_section == 'traininggear' ? 'gear_post' : 'post'
  = render partial: partial_file, locals: { post: post }

.span9
  %div
    = paginate @posts
