%h3{style:"color: #600"}= @current_section.titleize
%p

- @posts.each do |post|
  %div{style: "border-bottom: 2px #aaa solid"}
    %ul
      %li= post.title
      %li= post.author.name
    =raw post.intro
