.about1_style1 {
	font-size: 12px;
	font-style: italic;
}
.about_bold {
	font-size: 11px;
	font-weight: bold;
}
.about1_twitter {
	padding-left: 28px;
}
.about_11px {
	font-size: 11px;
}
.about_author {
	color: #600;
	margin: 10px;
}