#carousel {
  height: 319px;
  img {
    height: 319px;
    width: 700px;
  }
}
.carousel_caption {
  line-height: 18px;
}
.carousel_p {
  color: white;
  font-size: 11px;
}

#entertainment_books {
  height: 700px;
  background-color: #ccc;
}
#entertainment_other {
  height: 700px;
  margin-left: 80px;
  background-color: #ccc;
}

#whyopt_header {
  color: #600;
  border-bottom: 1px solid #ccc;
}
#whyopt_body {
  font-size: 12px;
}


