
// ===== nav bar =====
#site_navbar {
  .navbar {
    height: 57px;
  }
  li {
    border-top: 2px #000 solid;
  }
  li:hover{
    border-top-color: #ddd;
  }
  min-width: 960px;
}

#nav_button.active {
  border-top-color: #ddd;
  a {
    @include linear-gradient(#000, #000);
  }
//  a {
//    @include radial-gradient(50% 50%, circle cover, #600, #222 60%);
//  }
}

.navbar-inner {
  @include border-radius(0);
  @include linear-gradient(#000, #111);
}

.navbar .nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

// ===== general content area =====
#content {
  min-height: 800px;
  padding-left: 10px;
  border: 0px solid #ddd;
}

// ====== side bar ======
#side_bar {
  height: 475px;
  background-color: #f0f0f0;
}
#side_tab_nav {
  width: 220px;
  height: 275px;
}
#side_mail {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  width: 220px;
  height: 200px;
}
#side_mail_banner {
  background-color: #600;
  height: 40px;
}
#side_mail_bannertext {
  text-align: center;
  color: white;
  padding-top: 10px;
}
#side_mail_whyopt {
  text-align: center;
  padding-top: 10px;
  font-size: 11px;
  font-weight: bold;
}
#side-mailchimp-input {
  width: 150px;
  margin: 5px 0 0 1em;
  height: 20px;
}
#side-mailchimp-button {
  padding-top: 6px;
  margin: 4px 0 0 -4px;
  height: 29px;
}
#side_mail_link {
  color: #600;
}
#whatsnew_part {
  width: 200px;
  padding: 0 8px;
}
#whatsnew_font {
  font-size: 10px;
}
#side_ad {
  width: 220px;
  margin: -10px 0;
}
#recent_popular {
  margin: 10px;
}
#recent_popular_title {
  width: 122px;
  float: right;
  margin-top: -4px;
}

// ====== footer ======
#site_footer {
  padding: 10px 0;
  @include linear-gradient(#000, #111);
  height: 300px;
  border-top: 5px solid #ccc;
  font-size: 90%;
  width: 100%;
  min-width: 960px; // fixed shortened background
}
#footer_links {
  text-align: center;
}
#link_footer1 {
  padding-top: 5px;
  //border: 1px solid #c8c8c8;
  //border-radius: 5px;
  height: 150px;
}
#link_footer2 {
  padding-top: 5px;
  //border: 1px solid #c8c8c8;
  //border-radius: 5px;
  height: 150px;
}
#link_footer3 {
  padding-top: 5px;
  //border: 1px solid #c8c8c8;
  //border-radius: 5px;
  height: 150px;
}
#link_footer4 {
  padding-top: 5px;
  //border: 1px solid #c8c8c8;
  //border-radius: 5px;
  height: 150px;
}
#link_footer_text {
  background-color: #ccc;
  border-top: 5px solid #000;
  margin-left: -1px;
  height: 75px;
  border-radius: 5px;
  width: 220px;
}
#center_footer_link_text {
  padding-top: 5px;
}
#link_margin_footer {
  margin-left: 26px;
}
#footer_linktext_title {
  color: #000;
}
#footer_linktext_body {
  color: #202020;
}
#mailing_footer {
  margin-top: 20px;
  margin-left: 2px;
  background: url(ribbon_footer_darkred.png) no-repeat;
  height: 50px;
}
#mailing_footer_text {
  color: #fff;
  padding-top: 10px;
  margin-left: 70px;
}
#mailchimp_footer {
  margin-left: 100px;
}
#footer-mailchimp-input {
  margin-top: 10px;
  height: 10px;
}
#footer-mailchimp-button {
  margin-top: 10px;
  height: 20px;
  padding-top: 2px;
}

#copyright {
  color: #fff;
}
