
#site_navbar {
  .navbar {
    height: 57px;
  }
  li {
    border-top: 3px #333 solid;
  }
  li:hover{
    border-top-color: #000;
  }
  min-width: 960px;
}

#nav_button.active {
  border-top-color: #000;
  a {
    @include radial-gradient(50% 50%, circle cover, #600, #222 60%);
  }
}

#content {
  min-height: 800px;
  border: 0px solid #ddd;
}
#side_bar {
  height: 600px;
  background-color: #f0f0f0;
}
#whatsnew_part {
  width: 200px;
  padding: 0 10px;
}


#post_title {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#post_author {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
#post_related {
  margin: 15px 0;
  background-color: #eee;
}
#post_author_bottom {
  border: 1px solid #ccc;
}
#author_about {
  margin: 0 10px 10px;
}


#site_footer {
  padding: 10px 0;
//  padding-left: 3000px;
//  padding-right:3000px;
//  margin-left: -3000px;
//  margin-right: -3000px;
//  background: url(footer.jpg) 0 0 repeat-x;
  
  @include linear-gradient(#333, #222);
  height: 300px;
  border-top: 5px solid #ccc;
  font-size: 90%;
  width: 100%;
  min-width: 960px; // fixed shortened background
}

#link_footer1 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;
}

#link_footer2 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;

  margin-left: 24px;
}

#link_footer3 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;

  margin-left: 24px; 
}

#link_footer4 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;

  margin-left: 24px;
}

#link_footer_text {
//  background: url(footer_link.png) 0 0 repeat-x;
  background-color: #ccc;
  border-top: 5px solid #303030;
  height: 75px;
  border-radius: 5px;
  width: 220px;
}

#mailing_footer {
  margin-top: 20px;
  margin-left: 2px;
  background: url(ribbon_footer_darkred.png) no-repeat;
  height: 50px;
}

/* -------- home page ------- */
#carousel {
  height: 319px;
}
#recent_posts {
}

#about {
}

#entertainment {
  
}
#entertainment_books {
  height: 700px;
  background-color: #ccc;
}
#entertainment_other {
  height: 700px;
  margin-left: 80px;
  background-color: #ccc;
}

#post_list_section_title {
  color: #600;
}
#post_list {
  border-bottom: 1px #aaa solid;
  margin-top: 15px;
}
#post_list_thumb_border {
  border: 1px #000 solid;
  margin-top: 3px;
}
#post_list_thumb {
  margin: 3px;
}
#post_list_text {
  margin-left: 30px;
  width: 528px;
}
#post_list_post_title {
  color: #600;
}