#site_navbar {
  .navbar {
    height: 57px;
  }
  li {
    border-top: 3px #333 solid;
  }
  li:hover{
    border-top-color: #000;
  }
  min-width: 960px;
}

#nav_button.active {
  border-top-color: #000;
  a {
    @include radial-gradient(50% 50%, circle cover, #600, #222 60%);
  }
}

#content {
  min-height: 800px;
  border: 0px solid #ddd;
}
#side_bar {
  height: 475px;
  background-color: #f0f0f0;
}
#side_mail {
  background-color: #f0f0f0;
}
#side_mail_banner {
  background-color: #600;
  height: 40px;
}
#side_mail_bannertext {
  text-align: center;
  color: white;
  padding-top: 10px;
}
#side_mail_whyopt {
  text-align: center;
  padding-top: 10px;
  font-size: 11px;
  font-weight: bold;
}
#side-mailchimp-input {
  width: 150px;
  margin: 5px 0 0 1em;
  height: 20px;
}
#side-mailchimp-button {
  padding-top: 6px;
  margin: 4px 0 0 -4px;
  height: 29px;
}
#whatsnew_part {
  width: 200px;
  padding: 0 8px;
}


#site_footer {
  padding: 10px 0;
  @include linear-gradient(#333, #222);
  height: 300px;
  border-top: 5px solid #ccc;
  font-size: 90%;
  width: 100%;
  min-width: 960px; // fixed shortened background
}
#link_footer1 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;
}
#link_footer2 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;
}
#link_footer3 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;
}
#link_footer4 {
  padding-top: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  height: 150px;
}
#link_footer_text {
  background-color: #ccc;
  border-top: 5px solid #303030;
  margin-left: -1px;
  height: 75px;
  border-radius: 5px;
  width: 220px;
}
#link_margin_footer {
  margin-left: 26px;
}
#footer_linktext_title {
  color: #000;
}
#footer_linktext_body {
  color: #202020;
}
#mailing_footer {
  margin-top: 20px;
  margin-left: 2px;
  background: url(ribbon_footer_darkred.png) no-repeat;
  height: 50px;
}
#mailchimp_footer {
  margin-left: 100px;
}
#footer-mailchimp-input {
  margin-top: 10px;
  height: 10px;
}
#footer-mailchimp-button {
  margin-top: 10px;
  height: 20px;
  padding-top: 2px;
}

// -------- home page ------- 
#carousel {
  height: 319px;
}
#recent_posts {
}

#about {
}

#entertainment {
  
}
#entertainment_books {
  height: 700px;
  background-color: #ccc;
}
#entertainment_other {
  height: 700px;
  margin-left: 80px;
  background-color: #ccc;
}

#post_list_section_title {
  color: #600;
}
#most_recent_section_post {
  width: 700px;
  height: 319px;
}
#most_recent_post_caption {
  height: 30px;
  width: 700px;
  background-color: #333;
}
.post_list {
  border-bottom: 1px #aaa solid;
  margin-top: 15px;
}
.post_list_thumb_border {
  border: 1px #000 solid;
  margin-top: 2px;
}
.post_list_thumb {
  margin: 3px;
}
.post_list_text {
  margin-left: 30px;
  width: 528px;
}
.post_list_post_title a {
  color: #600;
  font-size: 20px;
}
.post_list_post_author {
  color: #a2a2a2;
  font-size: 11px;
}

#post_title {
  color: #600;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#post_author_top {
  padding-bottom: 5px;
  color: #a2a2a2;
  font-size: 11px;
}
#post_related {
  margin: 15px 0;
  background-color: #eee;
}
#post_author_bottom {
  border: 1px solid #ccc;
}
#author_about {
  margin: 0 10px 10px;
}

#post_intro_one {
  color: #938
}

// <<<<<<< HEAD
#whyopt_header {
  color: #600;
  border-bottom: 1px solid #ccc;
}
#whyopt_body {
  font-size: 12px;
}


#most-recente-back-layer {
  position:relative;
  z-index:1;
}
#most-recent-front-layer {
  position:relative;
  z-index:2;
  margin-top: 244px;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  height: 75px;
  background-color: #333;
}
#most-recent-word-layer {
  position:relative;
  z-index:3;
  background-color: red;
}

nav.pagination span.page.current,
nav.pagination span.page.gap {
  border: #ddd solid 1px;
  border-size: 1px 1px 1px 0;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  font-weight: bold;
// >>>>>>> 1dcf275658e125fba0c1ff24f63fb9ed63ed0ed9
}
