// ===== nav bar =====
#site_navbar {
  height: 149px;
  background-color: #fff;
  min-width: 300px;
  li {
    border-top: 2px #fff solid;
    z-index: 1000;
    background-color: #fff;
  }
  li:hover{
    border-top: 2px #fff solid;
    z-index: 1000;
  }
}
//#nav_shadow {
//  box-shadow: 0px 10px 5px #888;
//}
.navbar .nav > li > a:hover {
  backgound-color: #fff;
  color: #060172;
}
.navbar-brand {
  width: 348px;
  height: 75px;
  z-index: 1000;
  position: absolute;
  img {
    width: 100%;
    height: auto;
    border: 0;
    padding-left: 25px;
  }
}
#slogan {
  font-style:italic;
  padding-top: 90px;
  padding-left: 25px;
  font-size: 15px;
}
#nav_image {
  background-image: url("nav_image.png")
}
.navbar-brand2 {
  width: 232px;
  height: 50px;
  z-index: 1000;
  position: absolute;
  img {
    width: 100%;
    height: auto;
    border: 0;
    padding-left: 25px;
  }
}
#nav_social {
  position: relative;
  right: 100px;
  top: 35px;
}
#nav_social a {
  position: relative;
  right: -30px;
  margin-right: 2px;
}
#nav_sub {
  padding-left: 150px;
  margin-top: -34px;
}

.navbar-inner {
  border-radius: 0;
//  @include linear-gradient(#000, #111);
}

.navbar .nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 15px;
  :hover {
    color: #060172;
  }
}
#mobile_nav li {
  display: inline;
}
// ===== general content area =====
#content {
  min-height: 800px;
  padding-left: 10px;
  border: 0px solid #ddd;
}

// ====== side bar ======
#side_bar {
  height: 100%;
  background-color: #fff;
}
.side_feature_ad {
  margin: 0 0 0 12px;
  padding-top: 10px;
  text-align: center;
}
.side_small_ad {
  text-align: center;
  margin-top: 10px;
}
.side_feature_top {
  height: 20px;
  width: 75%;
  background: #ccc;
  position: absolute;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}
.side_feature_title {
  padding-left: 5px;
  padding-top: 2px;
  color: #000;
  font-weight: bold;
  font-family: calibri light;
}
#side_tab_nav {
  width: 220px;
  height: 275px;
}
#side_mail {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  width: 220px;
  height: 200px;
}
#side_mail_banner {
  background-color: #fdd017;
  height: 40px;
}
#side_mail_bannertext {
  text-align: center;
  padding-top: 10px;
}
#side_mail_whyopt {
  text-align: center;
  padding-top: 10px;
  font-size: 11px;
  font-weight: bold;
}
#side-mailchimp-input {
  width: 150px;
  margin: 5px 0 0 1em;
  height: 20px;
}
#side-mailchimp-button {
  padding-top: 6px;
  margin: 4px 0 0 -4px;
  height: 29px;
}
#side_mail_link {
  color: #600;
}
#whatsnew_part {
  width: 200px;
  padding: 0 8px;
}
#whatsnew_font {
  font-size: 10px;
}
#side_ad {
  width: 220px;
  margin: -10px 0;
}
#recent_popular {
  margin: 10px;
}
#recent_popular_title {
  width: 122px;
  float: right;
  margin-top: -4px;
}

// ====== footer ======
#site_footer {
  padding: 10px 0;
  @include linear-gradient(#000, #111);
  height: 215px;
  border-top: 5px solid #ccc;
  font-size: 90%;
  width: 100%;
  min-width: 300px; // fixed shortened background
}

.footer_links a {
  color: #ccc;
}
.footer_link_hover a:hover {
  color: #fff;
}

#copyright {
  color: #ccc;
}
.logout_link a {
  color: #00f;
}
.logout_link_hov a:hover {
  color: #428bca;
}
.footer_social {
  float: right;
}
.footer_social_lower {
  margin-top: 100px;
}