
// ===== posts index =====
#post_list_section_title {
  color: #0020c2;
}
#most_recent_section_post {
  width: 700px;
  height: 319px;
}
#most_recent_post_caption {
  height: 30px;
  width: 700px;
  background-color: #333;
}
.post_list {
  border-bottom: 1px #aaa solid;
  margin-top: 15px;
}

.gear_post_list {
  width: 200px;
  height: 200px;
  margin-right: 33px;
  margin-bottom: 33px;
}

.post_list_thumb_border2 {
  border: 1px #000 solid;
  margin: 10px 0px 10px 0;
  position: relative;
  left: 15px;
}
.post_list_thumb_border {
  border: 1px #000 solid;
  margin-top: 2px;
}
.post_list_thumb {
  margin: 3px;
}
.post_list_text {
  position: relative;
  left: 30px;
}
.gear_post_list_text {
  width: 200px;
  text-align: center;
}
.post_list_post_title a {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  font-family: calibri light;
  line-height: 35px;
}
.post_list_gear_post_title a {
  color: #600;
  font-size: 16px;
  text-align: center;
}
.post_list_post_author {
  color: #a2a2a2;
  font-size: 11px;
}
.post_feature_list {
  border-top: 1px #aaa solid;
  margin-bottom: 10px;
  margin-top: 20px;
}

nav.pagination span.page.current,
nav.pagination span.page.gap {
  border: #ddd solid 1px;
  border-width: 0;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  font-weight: bold;
}
nav.pagination span.page.current {
  background-color: #f5f5f5;
}
.pagination span a {
  border: 0;
}

// ===== posts show =====
#post_title {
  color: #600;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#post_author_top {
  padding-bottom: 5px;
  color: #a2a2a2;
  font-size: 11px;
}
#post_related {
  margin: 15px 0;
  background-color: #eee;
  width: 100%;
}
.related {
  //padding-left: 8px;
  text-align: center;
  //margin-left: 6%;
}
.related_title {
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}
.related_intro {
  text-align: left;
  margin: 0 5px;
  width: 100%;
  font-weight: bold;
  font-size: 11px;
  //padding-left: 35px;
}
#post_author_bottom {
  border: 1px solid #ccc;
}
#author_about {
  margin: 0 10px 10px;
}

.post_intro_p {
  font-weight: bold;
  font-size: 11px;
}

#post_intro_c {
  color: white;
  font-size: 11px;
}

.post_body {
  
}

.comment {
  border: 1px solid #aaa;
  border-width: 0 0 1px 0;
}
.comment_admin {
  background-color: #eee;
}
.comment_name {
  margin: 0 0 5px 0;
}
.comment_body {
  margin: 0 0 5px 0;
}

// ===== Social Bar =====

.social_bar {
  position: fixed;
  top: 150px;
  left: 2px;
  height: 120px;
  width: 90px;
  // border-right: 1px solid #ccc;
  margin-left: 10px;
}