= render 'posts/carousel'
.col-lg-8.col-md-8.col-sm-8.col-xs-12{style: "padding-left: 0;"}= content_for?(:content) ? yield(:content) : yield
.col-lg-4.col-md-4.col-sm-4.col-xs-12{style: "padding-left: 0;"}
  = render 'layouts/side_bar'